* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgFirst > img {
    width: 250px;
    margin-bottom: 20px;
}

.search {
    position: relative;
    display: flex;
    align-items: center;
}

.search input {
    width: 250px;
    height: 30px;
    border-radius: 20px;
    border: 1px solid black;
    padding: 0 20px;
    font-weight: bold;
}

.search i {
    position: absolute;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

#clear {
    display: none; 
    right: 40px; 
}

@media (max-width: 768px) {
    .search input {
        width: 200px;
    }
}
